.scene {
  perspective: 18rem;
}

.card {
  transition: transform 750ms;
  transform-style: preserve-3d;
}

.card-face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY( 180deg );
}

.card.is-flipped {
  transform: rotateY(180deg);
}
