@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-fade {
  transition: background-color 200ms ease-in-out;
}

.grid {
  display: grid;
}

.grid-fit-sm {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-fit-lg {
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
